/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #4285f4;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff8800;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 5px 0;
    animation: fadeIn 0.3s ease-out;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    text-align: center;
    padding: 40px 0;
}

#form-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 20px; /* Adjust as needed */
}

form {
    max-width: 100%; /* Adjust if needed */
    text-align: center;
}

#google-image {
    display: inline;
    margin-right: 10px;
    height: auto;
    width: 100px;
}

#google-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    height: 40px;
}

#google-submit-button {
    margin-left: 10px;
    width: auto;
    height: 50px;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover,
#google-submit-button:hover {
    background-color: #357ae8;
}

button:hover {
    background-color: #357ae8;
}

#table-containers {
    display: flex;
    justify-content: space-between;
    max-height: 100px;
    padding: 20px;
}

#referenceShoppingTable td {
    max-height: 100px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    height: 100px;
    text-align: left;
    vertical-align: middle;
    background-color: #ffffff;
}

th {
    background-color: #a6e0e9;
    border: 1px solid #ddd;
    padding: 8px;
    height: 12px;
    text-align: left;
}

img {
    display: block;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

#form-container .title {
    text-align: center;
    margin: 0 auto;
}
